<footer>
    <div class="content">
        <div class="left box">
            <div class="topic">About us</div>
            <span class="material-icons">face</span>
            <p>T4DI was thought as a University Project for Object Oriented Programming III. My Idea was to create a dynamic SPA in which Twitch Users could visualize different type of Twitch Data in order to take greater decisions while using the platform</p>
        </div>
        <div class="middle box">
            <div class="topic">Contact us (me)</div>
            <div class="media-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="right box">
            <div class="topic">Would you like to colaborate?</div>
            <form action="#">
                <input type="text" placeholder="Enter email address">
                <input type="submit" name="" value="Send">
            </form>
        </div>
    </div>
    <div class="bottom">
        <p>Copyright ©2021 <a href="#">Pablo Hernan Rechimon</a> All rights reserved</p>
    </div>
</footer>