img {
    aspect-ratio: 16/9;
    height: 275px;
    border: 1px solid var(--DeepBlack);
    box-shadow: 0px 0px 12px var(--Purple);
    border-radius: 5px;
    transition: all .5s;
}
img:hover {
    box-shadow: 0px -5px 56px var(--Purple);

}

h1 {
    text-align: center;
    list-style: none;
    transition: all .5s;
    font-family: 'lato', Arial, Helvetica, sans-serif;
}

h1:hover {
    color: var(--Purple);
}

.card {
    color: var(--WhiteWhite);
    margin-top: 5px;
    margin-bottom: 5px;
}
.card-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 4px;
    border: 1px solid var(--DeepBlack);
    border-radius: 5px;
    box-shadow: 0px 0px 12px var(--Purple);
}